@import "../base/base";
@import "../components/component.scss";
@import "../themes/variable";



// HEADER
.header {
    background-color: $bg-c0-dark;
    height: 50px;

    .container {
        position: relative;
        border: 1px solid $bg-c0-dark;
        width: 100%;

        .header_left {
            position: absolute;
            left: 0%;
            top: 10px;

            .logo {
                img {}
            }
        }

        .header_right {

            .charge {
                position: absolute;
                width: 66px;
                height: 36px;
                right: 135px;
                top: 7px;

                img {
                    position: absolute;
                    left: 0%;
                    right: 53.03%;
                    top: 8.33%;
                    bottom: 5.56%;
                }

                span {
                    position: absolute;
                    left: 46.97%;
                    right: 0%;
                    top: 0%;
                    bottom: 0%;
                    @extend .text-header-amount;
                }
            }

            .login {
                position: absolute;
                text-decoration: none;
                @extend .text-header;
                top: 15px;
                right: 80px;
            }

            .register {
                position: absolute;
                text-decoration: none;
                @extend .text-header;
                top: 15px;
                right: 0px;
            }

        }
    }
}

.menu {
    background-color: $bg-c0-light;

    .container {
        nav {
            a {
                text-decoration: none;
                @extend .text-menu;
                margin-right: 20px;
            }
        }
    }
}

.productDetail {
    background: $bg-c0-light;

    .container {
        @include frame-posion(relative, 1280px, 530px);

        .content_left {
            @include img(absolute, 334px, 355px, 65px, 58px);
            background: $text-c1-secondary;

            img {
                @include img(absolute, 220px, 156px, 57px, 109px);
                background: $text-c1-secondary;
            }
        }

        .content_right {
            h2 {
                @include img(absolute, 196px, 36px, 527px, 67px);
                @extend .text-product-name;
            }

            .text {
                @include img(absolute, 503px, 90px, 527px, 112px);
                @extend .text-lorem;
            }

            h3 {
                @include img(absolute, 162px, 58px, 527px, 202px);
                @extend .text-available-size;
            }

            .btn-size {
                @include frame-posion(absolute, 50px, 50px);
                top: 250px;
                background: $bg-c0-secondary;
                border: none;

                p {
                    @include text-size();
                    @extend .text-choose-size;
                }
            }

            .btn-size.size-38 {
                left: 526px;
            }

            .btn-size.size-39 {
                left: 597px;
            }

            .btn-size.size-40 {
                left: 669px;
            }

            .btn-size.size-41 {
                left: 740px;
            }

            .btn-size.size-42 {
                left: 811px;
            }

            .price {
                @include img(absolute, 113px, 47px, 527px, 317px);
                @extend .test-price-top;
            }


            #btn-plush {
                @extend .btn-plush-minus;
                @extend .test-plush-minus;
            }

            .amount {
                @include img(absolute, 14px, 36px, 597px, 377px);
                @extend .test-amount;
            }

            #btn-minus {
                @extend .btn-plush-minus;
                @extend .test-plush-minus;
                left: 636px;
            }

            .btn-add-to-cart {
                @extend .btn-gradient-add-to-card;

                p {
                    @extend .test-add-to-card;
                    position: absolute;
                    top: 18px;
                    left: 24px;
                }
            }
        }
    }
}

.realateProduct {
    .container {
        @include frame-posion(relative, 1280px, 1044px);
        background: $bg-c1-secondary;

        .title {
            h2 {
                @include img(absolute, 349px, 48px, 476px, 16px);
                @extend .text-realate-product;
            }
        }

        .list-item {
            display: flex;
            flex-wrap: wrap;

            .col {
                width: calc(100%/3);

                .card {
                    @extend .posion-absolute;
                    background: $bg-c2-secondary;

                    img {
                        @extend .posion-absolute-img;
                    }

                    .card-body {
                        .name-product {
                            @include img(absolute, 185px, 29px, 23px, 231px);
                            @extend .text-name-product;
                        }

                        .description {
                            @include img(absolute, 153px, 24px, 23px, 268px);
                            @extend .text-short-descript;
                        }

                        button {
                            @include img(absolute, 175px, 64px, 0px, 305px);
                            @extend .text-buy-now;
                            background: $bg-c3-danger;
                            border: none;
                        }

                        .price {
                            @include img(absolute, 160px, 64px, 174px, 305px);
                            @extend .test-price-bottom;
                            background: $bg-c3-secondary;

                            p {
                                @include img(absolute, 54px, 29px, 66px, 17px);
                            }
                        }
                    }
                }

                .card.item1 {
                    left: 99px;
                    top: 153px;
                }

                .card.item2 {
                    left: 493px;
                    top: 153px;
                }

                .card.item3 {
                    left: 914px;
                    top: 153px;
                }

                .card.item4 {
                    left: 99px;
                    top: 569px;
                }

                .card.item5 {
                    left: 493px;
                    top: 569px;
                }

                .card.item6 {
                    left: 914px;
                    top: 569px;
                }
            }
        }
    }
}

.footer {
    .footer_top {
        background: $bg-c4-secondary;

        .container{
            position: relative;
            display: flex;
            height: 190px;
            margin: auto;

            .item { 
                .title{
                    h3{
                        margin: 30px 0 10px;
                    }
                    a{
                        text-decoration: none;
                        color: $text-c0-dark;
                        line-height: 1.5;
                    }
                }
                .title.title1{
                    position: absolute;
                    left: 185px;
                    width: 280px;
                    border-right: 1px solid $bg-c0-secondary;
                }
                .title.title2{
                    position: absolute;
                    left: 480px;
                    width: 280px;
                    border-right: 1px solid $bg-c0-secondary;
                }
                .title.title3{
                    position: absolute;
                    left: 780px;
                    width: 500px;

                    a:last-of-type{
                        p{
                            color: $text-c0-danger;
                            line-height: 1.8;
                        }
                    }
                }
            }
        }
    }

    .footer_bottom {
        background: $bg-c5-secondary;

        .container{
            position: relative;
            display: flex;
            height: 190px;
            margin: auto;

            .item { 
                .title{
                    h3{
                        margin: 30px 0 10px;
                    }
                    a{
                        text-decoration: none;
                        color: $text-c0-dark;
                        line-height: 1.5;
                    }
                }
                .title.title1{
                    position: absolute;
                    left: 185px;
                    width: 280px;
                    border-right: 1px solid $bg-c0-secondary;

                    a:last-of-type{
                        p{
                            color: $text-c0-danger;
                            line-height: 1.8;
                        }
                    }
                }
                .title.title2{
                    position: absolute;
                    left: 480px;
                    width: 280px;
                    border-right: 1px solid $bg-c0-secondary;

                    a:last-of-type{
                        p{
                            color: $text-c0-danger;
                            line-height: 1.8;
                        }
                    }
                }
                .title.title3{
                    position: absolute;
                    left: 780px;
                    width: 500px;

                    a:last-of-type{
                        p{
                            color: $text-c0-danger;
                            line-height: 1.8;
                        }
                    }
                }
            }
        }
    }

}